@model Product
@{
}

<center>
    <h1>Confirm Order</h1>
    <br />
    <p>You are about to borrow this product from us</p>
    <p>Check your order and press confirm to complete your order</p>
</center>
<br />

<div class="row">
    <div class="col-md-6">
        @{ string Img = Model.Name + ".jpg"; }
        <img src="~/Image/@Img" />
    </div>

    <div class="col-md-6">
        <br />
        <br />
        <center>
            <h4><b>Details</b></h4>
            <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
            <b>Borrows: @Model.Name</b>
            <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
            <b>Description: @Model.Description</b>
            <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>

            @{ DateTime CurruntDate = DateTime.Now;}
            @{ DateTime HandInDate = DateTime.Now.AddDays(5);}
            <b>Date of loan: @CurruntDate.ToString("yyyy-MM-dd")</b>
            <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
            <b>Date to hand in: @HandInDate.ToString("yyyy-MM-dd")</b>
            <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
            <br />
            <form class="form-group" asp-controller="Order" asp-action="InsertConfirmedOrder"
                  asp-route-ProductName="@Model.Name"
                  asp-route-borrowDate="@CurruntDate"
                  asp-route-dateToHandIn="@HandInDate"
                  method="post">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </form>
        </center>

    </div>

</div>
