@page
@model BorrowStore.Areas.Identity.Pages.Account.Loans.ActiveLoansModel
@{
    Layout = "/Views/Shared/_LoanLayout.cshtml";
}
<h1>Active Loans</h1>
<br />

<br />

@foreach (var item in Model.activeUserOrderList)
{
    <div class="row col-md-10">
        <div class="col-md-5">
            <b style="float:left">OrderId</b>
            <b style="float:right">Product</b>
            <br />
            <p style="float:left">@item.OrderID</p>
            <p style="float:right">@item.Product</p>
        </div>

        <div class="col-md-6">
            <br />
            <a class="btn btn-primary" style="float:right" asp-controller="Loan" asp-action="HandInLoan"
               asp-route-orderId="@item.OrderID"
               asp-route-BorrowDate="@item.BorrowDate"
               asp-route-Product="@item.Product"
               asp-route-dateToHandIn="@item.DateToHandIn"
               >Hand In</a>

            <center>
                <p style="color:green">ACTIVE</p>
            </center>
        </div>

    </div>
    <p class="col-md-10" style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
}